
.speed-button {
  position: relative;

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    font-size: 12px;
    font-weight: bold;
    background: #ddd;
    width: 15px;
    border-radius: 50%;
  }
}