
body {
  box-sizing: border-box;
  background-color: #222;
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  height: 100%;
}

h1, p {
  letter-spacing: 4px;
}

#phaser {
  cursor: grab;
}

#react {
  position: absolute;
  top: 0;
  bottom: 0;
}

.noclip {
  pointer-events: none;
  user-select: none;
}

.game-button {
  color: white;
  background: none;
  font-size: 30px;
  border: none;
  cursor: pointer;
  pointer-events: all;
  padding: 0;
  margin: 5px;
  vertical-align: middle;
  font-family: 'Bangers', cursive;

  &:hover, &:active {
    background: white;
    color: #222;
  }
}
